body {
    background-color: blue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    color: white;
    text-align: center;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    color: white;
    text-align: center;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: lightskyblue;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}
.button:hover {
    background-color: #f2f2f2;
    color: blue;
}
